.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: normal;
  column-gap: 2rem;
  /* background-color: #8ea784; */
}

.container::before {
  content: '';
  position: fixed; /* Фиксируем на одном месте */
  left: 0;
  right: 0; /* Вся ширин */
  top: 0;
  bottom: 0; /* Вся высота */
  z-index: -1; /* Фон ниже текста */
  /* Параметры фона */
  background: url('../../assets/grey-kitty-with-monochrome-wall-behind-her.jpg') center / cover;
  filter: opacity(45%); /* Размытие */
}

.content {
  padding: 1rem;
}
