#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #8ea784;
}

.container {
  background-color: #8ea784;
}

.card {
  padding: 2em;
}

.info-from-store {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 1rem;

  h4 {
    border: 0.1rem solid white;
    padding: 0.5rem;
  }
}
