.card {
  width: 9%;
  padding: 2vw;
  border: 1px solid white;
  border-radius: 3%;
  background-color: #accea3;
  cursor: pointer;

  box-shadow:
    0 1px 4px #000000,
    -23px 0 20px -23px #000000cc,
    23px 0 20px -23px #000000cc,
    0 0 40px #0000001a inset;
  // https://prowebmastering.ru/box-shadow.html

  &:hover {
    transform: scale(1.1);
    box-shadow: 10px -10px 8px 3px #00000080;
  }

  transition: 0.2s;

  h3 {
    font-size: 1.4vw;
    margin: 0;
  }
}

.character-img {
  width: 100%;
  height: 100%;
}

.stats {
  font-size: 0.8vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.stat {
  text-align: start;
}
