.navigation {
  background-color: #1a1a1a;
}

.navigation-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  font-size: 1.2rem;

  flex-wrap: wrap;
  padding: 1em;
  border-radius: 5px;
  box-shadow: 0px 5px 10px 2px #393a38;
  height: 3vh;
}

.navigation-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: inherit;
  width: 1%;
  min-width: 30px;
  padding: 0.5vw;
  border-radius: 3%;
  background-color: #4e504d;
  cursor: pointer;

  box-shadow:
    0 1px 4px #000000,
    -23px 0 20px -23px #000000cc,
    23px 0 20px -23px #000000cc,
    0 0 40px #0000001a inset;

  &:hover {
    transform: scale(1.1);
    border: 1px solid #4e504d;
    box-shadow: 10px -10px 8px 3px #00000080;
  }

  transition: 0.2s;

  p {
    font-size: 1.2vw;
    margin: 0;
  }
}

.chosen_button {
  background-color: white;
}

.change-count-select {
  width: 10vw;
  height: 3em;
  margin: 1rem;
  min-width: 200px;
  border: 2px solid #4e504d;
  border-radius: 3%;
  outline: none;
  background: #f9f0da;
  color: #9e9c9c;
  box-shadow: 0px 5px 10px 2px #4e504d;
  transition: 0.2s;
}

.button:hover {
  transform: scale(1.1);
}

.button:active {
  border: none;
}
